<div class="relative mx-12 flex flex-col items-center justify-center">
    <h1 class="text-xl">
        Enter Alex's space where <span class="font-bold">imagination meets audio</span>
    </h1>
    <div class="relative">

        <svg
            class="absolute h-full w-full overflow-visible"
            width="540"
            height="255"
            viewBox="0 0 540 255"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
        <path 
            d="M538 253.5V167H2L2 2"
            stroke="url(#paint0_linear_6_33)"
            stroke-width="3"
            stroke-linecap="round"
        />
        <defs>
            <linearGradient
                id="paint0_linear_6_33"
                x1="2.00009"
                y1="50.9998"
                x2="589"
                y2="275.5"
                gradientUnits="userSpaceOnUse"
            >
            <stop stop-color="#A0A083"></stop>
            <stop offset="1" stop-color="#798478"></stop>
            </linearGradient>
        </defs>
        </svg>
        <p id="anim-p" class="p-6 text-lg">
            Enter a realm where sound takes on new dimensions and meaning.<br/> 
            Meet <span class="font-bold text-primary">Alex</span>, and embark on an exploration of sound in its purest form.<br/>
            Here, sound becomes more than just audio; it's an integral part of each experience.<br/>
            In this world, stories are enriched, emotions are subtly conveyed, and the profound impact of sound design is evident.<br/>
            Join us as we delve into a universe where each texture, each colour, and every release plays a vital role in crafting exceptional auditory experiences.<br/>
        </p>
    </div>
    <div>
        <div>
            <h2>Soundscapes</h2>
            <p class="text-xl font-bold"></p>
        </div>
    </div>
</div>