---
const { title } = Astro.props
import Nav from "./components/Nav"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Sound Designer" />
		<meta title={title} />
	</head>
	<body>
		<main>
			<!-- <Nav/> -->
			<Nav client:load />
			<slot />
		</main>
	</body>
</html>
